.container {
  height: 100%;
  position: relative;
  z-index: 1;
}

.background {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation-name: card;
  -moz-animation-name: card;
  -o-animation-name: card;
  animation-name: card;
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  height: 100%;
  overflow: hidden;
}

.dev {
  height: 100vh;
}

@-webkit-keyframes card {
  from {
    top: -40px;
  }

  to {
    top: 0;
  }
}

@keyframes card {
  from {
    top: -40px;
  }

  to {
    top: 0;
  }
}

.card-header {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.title {
  color: #8b4513;
}

.card-form {
  width: 100%;
  padding: 5px;
  margin-top: 50px;
}

.card-footer {
  margin: 10px;
}



#profile {
  width: 30%;
  border-radius: 50%;
}

.card-footer button {
  background-color: #8b4513;
  color: white;
  height: 50px;
  border-radius: 20px;
}

.btns {
  width: 100%;
}

.kk {
  background-color: #faecd9;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.oo {
  width: 70%;
  display: flex;
  justify-content: center;
}

.jj {
  width: 250;
  color: #8b4513;
}