<div class="background"></div>
<div class="container fCairo" dir="rtl">
  <div  fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="0%">
    <div class="dev" fxFlex="50">
      <div class="card">
        <div class="card-header fCairo fs-3 mt-5">
        <p class="title fs-3 fw-bold  mb-1">مرحبا بك</p>  
        <p class="title fs-4 mt-3">برجاء تسجيل الدخول</p>  
        </div>

        <form class="card-form" autocomplete="off"  novalidate  >
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutAlign.xs="center center"
        fxLayoutAlign.sm="center center" >

         
          <app-input-text [control]="username" fieldName="اسم المستخدم *" [label]="label" [type]="'text'" [inboxIcon]="inboxIcon"
          class="input-width" fxFlex="80" fxFlex.sm="90" fxFlex.xs="90" [maxLength]="10">
        </app-input-text>

        <app-input-text [control]="password" fieldName="كلمة المرور *" [label]="label" [type]="'password'" [passwordIcon]="passwordIcon"
        class="input-width" fxFlex="80" fxFlex.sm="90" fxFlex.xs="90" [maxLength]="10">
      </app-input-text>
          
        </div>
        </form>
        <div class="btns mt-3" fxLayoutAlign="center center">
        <div class="card-footer w-100 me-5"  fxFlex="90" fxFlex.sm="90" fxFlex.lt-sm="90" >
          <button  mat-button class="login fw-bold fs-4" (click)="login()" required fxFlex="90" fxFlex.sm="90" fxFlex.lt-sm="90"  >تسجيل الدخول</button>
        </div>
      </div>
      </div>
    </div>
    <div class="kk"  fxFlex="50">
      <div class="oo">
        <img id="profile" src="assets/img/logo.png" alt="" />
     
      </div>
      <p class="jj w-25 fs-3 fw-bold mt-3"> مستشاري النيابة الادارية</p>
    </div>
  </div>
</div>
