<div class="container">
  <div class="row pt-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">{{ !form.controls.id.value ? 'library_add' : 'mode_edit' }}</i>
          <p> {{ !form.controls.id.value ? 'اضافه مقر' : 'تعديل مقر' }}</p>
        </div>
        <div class="card-content">
          <form [formGroup]="form" autocomplete="off" novalidate class="p-4">
            <div class="me-3" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutAlign.xs="center center"
              fxLayoutAlign.sm="center center" fxLayoutGap="3%">
              <app-input-text [arabicCharOnly]="true" [control]="name" [type]="'text'" [noWhiteSpace]="true"
                [fieldName]="'اسم المقر'" fxFlex="25" fxFlex.sm="45" fxFlex.lt-sm="90"
                [maxLength]="50"></app-input-text>
              <app-input-select [control]="governorate" [data]="governorates" [fieldName]="'المحافظه'" fxFlex="25"
                fxFlex.sm="45" fxFlex.lt-sm="90" viewedValue="arabicName" [option]="option"></app-input-select>
              <app-input-select [control]="city" [data]="citys" [fieldName]="'المدينة'" fxFlex="25" fxFlex.sm="45"
                fxFlex.lt-sm="90" viewedValue="arabicName" [option]="option"></app-input-select>
              <app-input-select [control]="muqarType" [data]="MuqarTypes" [fieldName]="'نوع المقر'" fxFlex="25"
                fxFlex.sm="45" fxFlex.lt-sm="90" viewedValue="arabicName" [option]="option"></app-input-select>
              <app-input-text [control]="address" [type]="'text'" [noWhiteSpace]="true" class="input-width"
                [fieldName]="'العنوان'" fxFlex="25" fxFlex.sm="45" fxFlex.lt-sm="90" [maxLength]="50"></app-input-text>
              <app-input-text [control]="competence" [type]="'text'" [noWhiteSpace]="true" class="input-width"
                [fieldName]="'الكفاءة'" fxFlex="25" fFlex.sm="45" fxFlex.lt-sm="90" [maxLength]="50"></app-input-text>
              <app-input-text [control]="email" [type]="'text'" [noWhiteSpace]="true" class="input-width"
                [fieldName]="'الايميل'" fxFlex="25" fxFlex.sm="45" fxFlex.lt-sm="90" [maxLength]="50"></app-input-text>
              <app-input-text [control]="phone" [type]="'text'" [noWhiteSpace]="true" class="input-width"
                [fieldName]="'رقم تليفون 1'" fxFlex="25" fxFlex.sm="45" fxFlex.lt-sm="90"
                [maxLength]="11"></app-input-text>
              <app-input-text [control]="phoneSecond" [type]="'text'" [noWhiteSpace]="true" class="input-width"
                [fieldName]="'رقم تليفون 2'" fxFlex="25" fxFlex.sm="45" fxFlex.lt-sm="90"
                [maxLength]="11"></app-input-text>
              <app-input-text [control]="phoneThird" [type]="'text'" [noWhiteSpace]="true" class="input-width"
                [fieldName]="'رقم تليفون 3'" fxFlex="25" fxFlex.sm="45" fxFlex.lt-sm="90"
                [maxLength]="11"></app-input-text>
              <app-input-text [control]="map" [type]="'text'" [noWhiteSpace]="true" class="input-width"
                [fieldName]="'الخريطة'" fxFlex="25" fxFlex.sm="45" fxFlex.lt-sm="90" [maxLength]="11"></app-input-text>
            </div>
          </form>
          <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="3%">
            <button (click)="save()" color="Basic" mat-raised-button fxFlex="15" fxFlex.xs="45" [disabled]="submitted">
              {{ form.controls.id.value ? 'تعديل' : 'اضافة' }}
            </button>
            <button (click)="clearForm()" color="warn" mat-raised-button fxFlex="15" fxFlex.xs="45"> مسح </button>
          </div>
          <br />
          <div class="row mt-5 mb-5" dir="rtl">
            <div class="mat-elevation-z8">
              <app-data-grid (loadData)="pageChanged($event)" [columns]="columns" [data]="muqar"
                [displayedColumns]="displayedColumns" [displayedColumnFilter]="displayedColumnFilter" [page]="page">
                <ng-template let-item>
                  <a mat-icon-button (click)="fetch(item)"><mat-icon matTooltip="تعديل"
                      color="primary">mode_edit</mat-icon></a>
                  <a mat-icon-button (click)="delete(item.id)"><mat-icon matTooltip="حذف"
                      color="warn">delete_forever</mat-icon></a>
                </ng-template>
                <ng-template let-item #muqarTypeField>
                  <form [formGroup]="searchForm">
                    <app-input-select [control]="muqarTypeName" [data]="MuqarTypes" fxFlex="100" fxFlex.sm="45"
                      fxFlex.lt-sm="90" viewedValue="arabicName" (searchEvent)="search()"
                      [muqarLabel]="muqarLabel"></app-input-select>
                  </form>
                </ng-template>
                <ng-template let-item #governorateField>
                  <form [formGroup]="searchForm">
                    <app-input-select [control]="governorateName" [data]="governorates" fxFlex="100" fxFlex.sm="45"
                      fxFlex.lt-sm="90" viewedValue="arabicName" (searchEvent)="search()"
                      [govLabel]="govLabel"></app-input-select>
                  </form>
                </ng-template>

                <ng-template let-item #cityField>
                  <form [formGroup]="searchForm">
                    <app-input-select [control]="cityArabicName" [data]="citys" fxFlex="100" fxFlex.sm="45"
                      fxFlex.lt-sm="90" viewedValue="arabicName" (searchEvent)="search()"
                      [cityLabel]="cityLabel"></app-input-select>
                  </form>
                </ng-template>
              </app-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>